<section class="text-center py-5">
    <h3>Preguntas Frecuentes</h3>
    <div class="container">
        <div class="row">
            <div class="col-6 p-3">
                <div class="card snor-card">
                    <div class="card-header bg-dark text-white">¿En dónde nos ubicamos? </div>
                    <div class="card-body ">
                        <h5 class="card-title">Nos encontramos en Los Cabos</h5>
                        <p class="card-text">Nuestro showroom de vehículos semi usados off road está a 25 minutos de Cabo San Lucas. En Cactus Tours, Carretera Federal 19 KM 100 Migriño, 23597 Cabo San Lucas, B.C.S.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3">
                <div class="card snor-card">
                    <div class="card-header bg-dark text-white">¿Cómo contactarnos?  </div>
                    <div class="card-body">
                        <h5 class="card-title">En los siguientes links</h5>
                        <p class="card-text">
                            Para atenderte por favor escribenos al Whatsapp <a href="tel:+6242355655">6242355655</a> o al correo <a href="mailto:seminuevosoffroad@gmail.com">seminuevosoffroad@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3">
                <div class="card snor-card">
                    <div class="card-header bg-dark text-white">¿Hacemos envios?</div>
                    <div class="card-body">
                        <h5 class="card-title">Envíos a toda la Republica.</h5>
                        <p class="card-text">El envío se cotiza con una madrina pero el costo corre por cuenta del comprador ya que el costo del vehículo es en Cabo. </p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3">
                <div class="card snor-card">
                    <div class="card-header bg-dark text-white">¿Manejamos créditos?</div>
                    <div class="card-body">
                        <h5 class="card-title">Solo pagos al contado</h5>
                        <p class="card-text">Solo aceptamos pagos de contado.  </p>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3">
                <div class="card snor-card">
                    <div class="card-header bg-dark text-white">¿Qué marcas  manejamos?</div>
                    <div class="card-body">
                        <h5 class="card-title">Contamos con las mejores marcas</h5>
                        <p class="card-text">Tenemos las mejores marcas de vehiculos seminuevos en el mercado a los precios más accesibles como Can-am, Polaris, Honda, Kymco y Segway.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
