<section class="text-center py-5">
    <h3>Preguntas Frecuentes</h3>
    <div class="container">
        <img src="../assets/Mapa.png" alt="Mapa Semi nuevos" height="600" width="600">
    </div>
</section>
