
<section class="box position-relative">
    <img src="./assets/1.JPG" class="position-absolute" alt="Can-Am RC" draggable="false">

	<div class='snor-over-1 ms-2'>
        <div class="snor-band ms-4"></div>
        <div class="my-3">
            <h4 class="text-center">#FeelTheRoad</h4>
            Compra los mejores vehículos off road seminuevos del mercado. <br>
            Encuentra los mejores autos todo terreno a precios económicos. <br>
            Nos encontramos en Los Cabos. Hacemos envíos a toda la República Mexicana. 
        </div>
        <div class="snor-band snor-h-2 ms-0"></div>
    </div>

    <div class='snor-over-2 end-0'>
        <div class="snor-band snor-h-2 ms-auto"></div>
        <div class="snor-sqrt p-3">
            <p class="small">
                Si te preguntas <strong>¿En dónde comprar vehículos off road semi nuevos?</strong> Nosotros te ayudamos. <br><br>
                Somos una empresa líder en la venta de autos seminuevos todo terreno. <br>
                Encuentra ATVs y UTVs de grandes marcas de autos off-road como Can-Am, Polaris y Honda. 
                Contacta a un especialista para que te de información de los vehículos off road semi nuevos a la venta. 
            </p>
            <a class="snor-btn p-2" href="mailto:sandraorrantia2@gmail.com">Contáctanos!</a>
        </div>
    </div>
</section>

<div class="snor-band bg-grey snor-h-2"></div>
<section class="snor-section-2 text-center">
    <h3 class="">¡Compra los mejores vehículos off road seminuevos de las mejores marcas! </h3>
    <p class="my-3 px-2 mx-auto" >
        Si te preguntas en dónde comprar un vehículo todo terreno semi nuevo, tenemos los mejores del mercado y hacemos envíos en todo México. Agenda una cita para conocer la flotilla que tenemos disponible. Nuestro centro de vehículos semi nuevos se encuentra en Carretera Federal 19 KM 100 Migriño, Cabo San Lucas, B.C.S. y contamos con modelos como Can-Am X3 y RC turbo, Polaris RZR Pro, RZR Turbo y RZR Trail, el increíble Honda Talon 1000 y los ATVs Can-Am Outlander 450, Polaris Sportsman 570, Segway Snarler 570 y Kymco.
    </p>
</section>
<div class="snor-band bg-grey snor-h-2"></div>

<section class="snor-section-3">
    <div class="snor-bg-img">
        <h3 class="pt-4">
            Destacados
            <br>
        </h3>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-1">
            <div class="col">
                <div class="card snor-main-card">
                    <img src="/assets/index/vehicle_1.jpg" class="card-img-top" alt="imagen" />
                    <div class="snor-card-svg">
                        <img src="./assets/UTV.svg" alt="">
                        <br> Maverick RC
                    </div>
                    <span><a href="../Vehicles/-Nawjjrp9DNMu0EZirXb">Ver</a></span>
                </div>
            </div>
            <div class="col">
                <div class="card snor-main-card">
                    <img src="/assets/index/vehicle_2.jpg" class="card-img-top" alt="imagen"/>
                    <div class="snor-card-svg">
                        <img src="./assets/UTV.svg" alt="">
                        <br> Turbo S
                    </div>
                    <span><a href="../Vehicles/-Nax5T8azZnxSU8B0Nyh">Ver</a></span>
                </div>
            </div>
            <div class="col">
                <div class="card snor-main-card">
                    <img src="/assets/index/vehicle_3.jpg" class="card-img-top" alt="imagen"/>
                    <div class="snor-card-svg">
                        <img src="./assets/UTV.svg" alt="">
                        <br> Honda Talon
                    </div>
                    <span><a href="../Vehicles/-NaxJ4SyIQfq-MuOzo3x">Ver</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="snor-section-4">
    <div class="row">
        <div class="col">
            <div class="box mb-3">
                <img src="/assets/index/vendidos.jpg" alt="">
            </div>
            <section class="p-4">
                <h3>Vendidos</h3>
                <p>¡Nuestras ventas nos respaldan!</p>
                <p>
                    Hemos vendido UTVs y ATVs usados en Los Cabos con excelente rendimiento para nuestros clientes.<br>
                    Totalmente satisfechos con el excelente estado de nuestros vehículos.
                </p>
                <div class="snor-media-center mt-4">
                    <button class="snor-btn w-25 bg-black">Aceptar</button>
                </div>
            </section>
        </div>
        <div class="col">
            <div class="box mb-3">
                <img src="/assets/index/Panoramica.jpg" alt="">
            </div>
            <section class="p-4">
                <h3>FAQ</h3>
                <p>Preguntas Frecuentes</p>
                <p>
                    ¿Cuentas con alguna duda para realizar tu compra?<br>
                    Entra a nuestra sección de preguntas frecuentes y despejate de dudas para adquirir tu nuevo vehículo seminuevo
                </p>
                <div class="snor-media-center mt-4">
                    <button class="snor-btn w-25 bg-black">Aceptar</button>
                </div>
            </section>
        </div>
    </div>
</section>
