
<section class="box position-relative">
    <img src="./assets/1.JPG" class="position-absolute" alt="Can-Am RC" draggable="false">

	<div class='snor-over-1 ms-2'>
        <div class="snor-band ms-4"></div>
        <div class="my-3">
            <h4 class="text-center">#FeelTheRoad</h4>
            Los mejores vehículos OffRoad 2021 y 2022 <br>
            a precios inigualables!
        </div>
        <div class="snor-band snor-h-2 ms-0"></div>
    </div>

    <div class='snor-over-2 end-0'>
        <div class="snor-band snor-h-2 ms-auto"></div>
        <div class="snor-sqrt p-4">
            <p>
                Somos el lider nacional en venta de vehículos offroad; recreativos, deportivos y utilitarios.
                Encuentra side by side, ATVs y UTVs, de las marcas Can-Am, Polaris y Honda. 
            </p>
        </div>
    </div>
</section>

<div class="snor-band bg-grey snor-h-2"></div>
<section class="snor-section-2 text-center">
    <h2 class=""> Contamos con las mejores marcas y los modelos más populares </h2>
    <p class="my-3 px-5 mx-auto" >
        Elige tu vehículo OffRoad preferido entre una gran variedad de opciones, como lo son los Can-Am X3 y RC turbo, los Polaris RZR Pro XP, 
        RZR Turbo y RZR Trail, el novedoso Honda Talon 1000 y las ATVs Can-Am Outlander 450 y Polaris Sportsman 570
    </p>
</section>
<div class="snor-band bg-grey snor-h-2"></div>

<section class="snor-section-3">
    <div class="snor-bg-img">
        <h3 class="pt-4">
            Destacados
            <br>
        </h3>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-1">
            <div class="col">
                <div class="card snor-main-card">
                    <img src="https://www.polarismexico.com/fileadmin/templates/model22/home/productline/intl/ranger-1.jpg" class="card-img-top" alt="imagen" />
                    <div class="snor-card-svg">
                        <img src="./assets/UTV.svg" alt="">
                        <br> Ranger
                    </div>
                    <span>Ver</span>
                </div>
            </div>
            <div class="col">
                <div class="card snor-main-card">
                    <img src="https://www.polarismexico.com/fileadmin/templates/model22/home/productline/intl/rzr-1.jpg" class="card-img-top" alt="imagen" />
                    <div class="snor-card-svg">
                        <img src="./assets/ATV.svg" alt="">
                        <br> Razer
                    </div>
                    <span>Ver</span>
                </div>
            </div>
            <div class="col">
                <div class="card snor-main-card">
                    <img src="https://www.polarismexico.com/fileadmin/templates/model22/home/productline/intl/sportsman.jpg" class="card-img-top" alt="imagen" />
                    <div class="snor-card-svg">
                        <img src="./assets/ATV.svg" alt="">
                        <br> SportMan
                    </div>
                    <span>Ver</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="snor-section-4">
    <div class="row">
        <div class="col">
            <div class="box mb-3">
                <img src="https://can-am.brp.com/content/can-am-off-road/es_mx/_jcr_content/root/helperblock_copy_cop.coreimg.jpeg/1639605056278/orv-ssv-cy21-saskatchewan-mud-ostacruiser-peter-mckinnon-commander-xmr-5000x3000-enus-58-1600x1600.jpeg?imwidth=2374" alt="">
            </div>
            <section class="p-4">
                <h3>Accesorios</h3>
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <p>
                    Ajuste y desempeño desde fábrica. Vea accesorios para caza, 
                    invierno, lodo, así como artículos probados en Mossy Oak, 
                    Baja Designs, S3 Power Sports, Yoshimura, Dragonfire, Can-Am.
                </p>
                <div class="snor-media-center mt-4">
                    <button class="snor-btn w-25 bg-black">Aceptar</button>
                </div>
            </section>
        </div>
        <div class="col">
            <div class="box mb-3">
                <img src="https://can-am.brp.com/content/can-am-off-road/es_mx/_jcr_content/root/helperblock_copy_937723931.coreimg.jpeg/1639605065866/orv-ssv-my21-lifestyle-scouting-dscf8335-rgb-6240x3512-1600x1600.jpeg?imwidth=2048" alt="">
            </div>
            <section class="p-4">
                <h3>Distribución</h3>
                <p>Lorem ipsum dolor sit amet consectetur</p>
                <p>
                    Ajuste y desempeño desde fábrica. Vea accesorios para caza, 
                    invierno, lodo, así como artículos probados en Mossy Oak, 
                    Baja Designs, S3 Power Sports, Yoshimura, Dragonfire, Can-Am.
                </p>
                <div class="snor-media-center mt-4">
                    <button class="snor-btn w-25 bg-black">Aceptar</button>
                </div>
            </section>
        </div>
    </div>
</section>
